//Colors

$primary-dark-blue: hsl(243, 87%, 12%);
$primary-light-blue: hsl(238, 22%, 44%);

$accent-1: hsl(224, 93%, 58%);
$accent-2: hsl(170, 45%, 43%);

$neutral-1: hsl(240, 75%, 98%);
$neutral-2: hsl(0, 0%, 75%);

$neutral-3: hsl(0, 0, 100%);

$shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
