body {
  font-weight: 400;
  font-family: "Open sans", sans-serif;
  color: $primary-dark-blue;
  font-size: 1.5rem;
}
a {
  font-size: 1.4rem;
}
h1,
h2,
h3 {
  font-family: "Raleway";
  font-weight: 700;
  margin-bottom: 2rem;
}
h3 {
  font-size: 2.5rem;
}
p {
  line-height: 1.7;
  margin-bottom: 2rem;
}

blockquote {
  font-size: 1.3rem;
  line-height: 1.7;

  cite {
    font-size: 1.2rem;
  }
}
